.content {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.content:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
}
.img-container img {
  height: auto;
  max-width: 100%;
}
